body {
    margin: 0;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 335px;
    @media (min-width: 1225px){
        width: 1222px;
    }
}
h1, h2, p {
    margin: 0;
}

a{
    text-decoration: none;
}
.marquee__line{
    position: relative;
    top: 0;
    height: 18px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    z-index: 5;
        @media (min-width: 1225px){
            padding-top: 15px;
            padding-bottom: 18px;
        }
}
.preview {
    position: relative;
    height: 812px;
    background: #e6dbcf;
    background-image: url("../img/backgound_shees.png");
    background-position-x: -410px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 890px 380px; 
    @media (min-width: 1225px) {
        height: 700px;
        background-position-x: -100px;
        background-size: cover; 
            @media (min-width: 1600px) {
                background-position-x: 250px;
                background-size: 1627px 702px;
            }
    }
}

.preview__headtext {
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    text-transform: uppercase;
    color: #313131;
    word-break: break-word;
    margin-bottom: 0;
    @media (min-width: 1225px) {
        font-size: 60px; 
    }
}
.headtext__center{
   text-align: center; 
}
.headtext__right{
    text-align: right; 
 }

.preview__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #313131;
    margin-bottom: 32px;
    margin-top: 24px;
    word-break: break-word;
    @media (min-width: 1225px) {
        text-align: center; 
        padding-right: 20px;
        padding-left: 20px;
    }
}

.preview__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 1225px) {
        width: 542px;
    }
}
.preview__wrapperbottom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 1225px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.preview__logo {
    margin-top: 18px;
    width: 213px;
    height: 32px;
    margin-bottom: 40px;
    @media (min-width: 1225px) {
        width: 245px;
        height: 36px;
    }
}

.preview__help {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    border-radius: 66px;
    padding: 18px 20px;
    background: #1f1f1f;
    margin-bottom: 14px;
    @media (min-width: 1225px) {
        padding: 20px 49px 20px 49px;
        width: 165px;
        margin-bottom: 0;
    }
}
.preview__help:hover {
    background: #fbce51;
    color: #1f1f1f;
}

.preview__about {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #1f1f1f;
    background: #fff;
    opacity: 0.9;
    border-radius: 66px;
    padding: 18px 20px;
    word-wrap: break-word;
    @media (min-width: 1225px) {
        display: flex;
        justify-content: center;
        align-items: center;
        background: inherit;
        border: 2px solid #1f1f1f;
        padding: 20px 59px 20px 59px;
        width: 145px;
    }
}
.preview__about:hover {
    background: #1f1f1f;
    color: #fff;
}
/* начало секция help*/
.help__secondcontainercolumn{
    width: 704px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.help__desk {
    display: none;
    @media (min-width: 1225px) {
        display: flex;
        flex-direction: column;
        padding-top: 106px;
        margin-bottom: 200px;
    }

}
.help__firstcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}
.help__firstcontainertop {
    @media (min-width: 1225px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.help__firsttextBR{
    display: none;
    @media (min-width: 1225px) {
        display: block;
    }
}
.help__secondcontainerdesk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.help__firsttext{
    padding-top: 86px;
    font-weight: 400;
    font-size: 28px;
    line-height: 135%;
    text-transform: uppercase;
    color: #313131;
    margin-bottom: 24px;
    @media (min-width: 1225px) {
        display: block;
        width: 764px;
        font-size: 36px;
        padding: 0;
        word-wrap: break-word;
        padding-top: 26px;
    }
}
.help__secondttext{
    font-weight: 400;
    font-size: 28px;
    line-height: 135%;
    text-transform: uppercase;
    color: #313131;
    margin-bottom: 34px;
    @media (min-width: 1225px) {
        font-size: 36px;
    }
}
.help__sheesgame{
    width: 335px;
    height: 212px;
    margin-bottom: 24px;
    @media (min-width: 1225px) {
        width: 394px;
        height: 250px;  
    }
}
.red {
    color: #f54932;
}
.help__bander{
    width: 335px;
    height: 402px;
    margin-bottom: 24px;
    @media (min-width: 1225px) {
        width: 474px;
        height: 527px;
    }
}
.help__secondcontainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.help__tabletr {
    position: relative;
    display: grid;
    grid-template-columns: 48% 52%;
}
.help__tabletr:not(:last-child)::before{
    content: '';
    display: block;
    height: 2px;
    background: #d0d0d0;
    width: 100%; 
    position: absolute;
    bottom: 0;
}
.help__place{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    margin-bottom: 12px;
    word-break: break-word;
    @media (min-width: 1225px) {
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
.help__bold {
    position: relative;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    word-break: break-word;
    @media (min-width: 1225px) {
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }
}
.help__bold::before{
    content: '';
    display: block;
    height: 2px;
    background: #D0D0D0;
    width: 100%; 
    position: absolute;
    bottom: -16px;
}
@media (min-width: 1225px) {
    .help__bold::before{
        display: none;
    }
    
}
.help__table{
    position: relative;
}
.help__table::before{
    content: '';
    display: block;
    height: 85%;
    background: #d0d0d0;
    width: 2px; 
    position: absolute;
    top: 0;
    left: 48%;
}
.help__last{
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #313131;
    word-break: break-word;
    margin-bottom: 40px;
    @media (min-width: 1225px) {
        margin-bottom: 0;  
        padding-top: 16px;
        padding-left: 16px;
    }
}
.help__question{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #3057a2;
    word-break: break-word;
    @media (min-width: 1225px) {
        font-size: 20px;
    }
}
.help__mobile {
    margin-bottom: 120px;
    @media (min-width: 1225px) {
        display: none;
    }
}

/*section stage */
.stage {
    margin-bottom: 120px;
}
.stage__headtext{
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    text-transform: uppercase;
    color: #313131;
    margin-bottom: 12px;
    word-break: break-word;
}
.stage__about {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #3057a2; 
    word-break: break-word;  
}
.stage__head {
    margin-bottom: 148px;
}
.stage__caruselblock{
    position: relative;
    min-height: 300px;
    background-color: #e6dbcf;
    background-blend-mode: color-burn;
    background-image: url("../img/mask.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 28px;
}
.stage__caruselblock::before{
    content: '';
    top:-120px;
    display: block;
    height: 182px;
    background-image: url("../img/plane.png");
    background-size: 335px 185px;
    width: 100%; 
    position: absolute;
    background-repeat: no-repeat;
    z-index: 10;
}
.buttons {
    margin: 0 auto;
    width: 178px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.controls__disabled{
    background: #d6d6d6;
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
}
.controls{
    background: #313131;
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
}
.controls:hover{
  background: #fbce51;
  color: #fff;
  border: none;
  cursor: pointer;
}
.stage__slidenow {
    width: 10px;
    height: 10px;
    background: #d9d9d9;
    border-radius: 50%;
}
.slideactive {
    background: #313131;
}
.stage__slides {
    list-style-type: none;
    padding: 0;
}
.stage__slidetext1 {
    position: relative;
    padding-left: 72px;
    margin-bottom: 28px;
    text-align: left;
    padding-right: 24px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #313131;   
    word-break: break-word; 
}
.stage__slidetext2 {
    position: relative;
    padding-left: 72px;
    margin-bottom: 28px;
    text-align: left;
    padding-right: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #313131;   
    word-break: break-word; 
}
.stage__slidetext3 {
    position: relative;
    padding-left: 72px;
    margin-bottom: 28px;
    text-align: left;
    padding-right: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #313131;   
    word-break: break-word; 
}
.stage__slidetext4 {
    position: relative;
    padding-left: 72px;
    margin-bottom: 28px;
    text-align: left;
    padding-right: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #313131;   
    word-break: break-word; 
}
.stage__slidetext5 {
    position: relative;
    padding-left: 72px;
    margin-bottom: 28px;
    text-align: left;
    padding-right: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #313131;   
    word-break: break-word; 
}
.stage__slidetext6 {
    position: relative;
    padding-left: 72px;
    margin-bottom: 28px;
    text-align: left;
    padding-right: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #313131;   
    word-break: break-word; 
}
.stage__slidetext7 {
    position: relative;
    padding-left: 72px;
    margin-bottom: 28px;
    text-align: left;
    padding-right: 34px;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #313131;   
    word-break: break-word; 
}
.stage__slidetext1::before {
    position: absolute;
    content: '1';
    top:0px;
    left: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}
.stage__slidetext2::before {
    position: absolute;
    content: '2';
    top:0px;
    left: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}
.stage__slidetext3::before {
    position: absolute;
    content: '3';
    top:0px;
    left: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}
.stage__slidetext4::before {
    position: absolute;
    content: '4';
    top:0px;
    left: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}
.stage__slidetext5::before {
    position: absolute;
    content: '5';
    top:0px;
    left: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}
.stage__slidetext6::before {
    position: absolute;
    content: '6';
    top:0px;
    left: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}
.stage__slidetext7::before {
    position: absolute;
    content: '7';
    top:0px;
    left: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
}
#stage__slides{
    position: relative;
}
.stage__slide{
    position: absolute;
	left: 0px;
	top: 62px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;
}
.showing{
    opacity: 1;
	z-index: 2;
}
/*participants*/

.participants__headtext {
    font-weight: 400;
    font-size: 36px;
    line-height: 110%;
    text-transform: uppercase;
    color: #313131;
    margin-bottom: 40px;
}
.participants__slides{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.participants__slide {
    position: absolute;
	left: 0;
	opacity: 0;
	z-index: 1;
    width: 100%;
    height: 100%;
}
.show{
    opacity: 1;
	z-index: 2;
}
.participants__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.participants__img {
    width: 244px;
    height: 244px;
    margin-bottom: 28px;
}
.participants__name{
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #313131;
    margin-bottom: 8px;
    word-break: break-word;
}
.participants__status {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #313131; 
    word-break: break-word;   
    margin-bottom: 20px;
}
.participants__link{
    border: 1px solid #3057a2;
    border-radius: 62px;
    padding: 12px;
    word-break: break-word; 
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #3057a2;
    width: 113px;
    text-align: center;
    margin-bottom: 40px;
}
.participants__link:hover{
    background: #3057a2;
    color: #fff;
}
.participants__buttons{
    margin: 0 auto;
    width: 129px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    z-index: 5;
}
.participants__numbers {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #313131;    
}
#participants__slides{
    position: relative;
}
.participants__carusel{
    position: relative;
    min-height: 400px;
    margin-bottom: 40px;
}


/*footer*/
.footer {
    position: relative;
    background-color: #e9ded4;
    min-height: 252px;
}
.footer__text {
    text-align: left;
    padding-top: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #313131;    
    word-break: break-word;
    padding-right: 40px;
}
